<div>

    <div layout="row" layout-padding layout-wrap layout-fill style="padding:0px 0px 22px 24px;" ng-cloak>

        <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" ng-click="setChangePass(true)"
            style="cursor: pointer;padding:35px 40px 40px 35px;">
            <md-tooltip class="hit-tooltip" md-direction="right">Spremeni geslo</md-tooltip>
            <md-icon><i class="fas fa-key font30"></i></md-icon>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center" ng-click="setChangePhone(true)"
            style="cursor: pointer; margin-left: 15px;padding:35px 40px 40px 35px;">
            <md-tooltip class="hit-tooltip" md-direction="right">Spremeni telefonsko številko</md-tooltip>
            <md-icon><i class="fa fa-phone font30"></i></md-icon>
        </md-whiteframe>

    </div>

    <md-content ng-show="isChangePass" class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="40" layout="column">

            <md-card style="padding:20px">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title" style="margin-left: -20px;">
                            Sprememba gesla za {{user.nameid}}
                        </h2>
                    </div>
                </md-toolbar>
                <div class="card-body">
                    <form name="form">
                        <md-input-container class="md-icon-float md-block" style="width: 100%;">
                            <label>Ime.Priimek (@hit.si)</label>
                            <md-icon class="name"><i class="fas fa-user"></i></md-icon>
                            <input required type="text" ng-model="user.UporabniskoIme" name="username"
                                autocomplete="off" readonly />
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="width: 100%;">
                            <label>Staro geslo</label>
                            <md-icon class="name"><i class="fas fa-key"></i></md-icon>
                            <input required type="password" ng-model="user.Geslo" name="password" autocomplete="off"
                                onfocus="this.removeAttribute('readonly');" readonly>
                            <div ng-messages="form.password.$error" role="alert">
                                <div ng-message="required">Polje je obvezno.</div>
                            </div>
                            <p class="caps-lock-alert" style="color:green" ng-show='isCapsLockOn'>Vklopljene velike
                                &#269;rke</p>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="width: 100%;">
                            <label>Novo geslo</label>
                            <md-icon class="name"><i class="fas fa-key"></i></md-icon>
                            <input required minlength="10" my-password type="password" ng-model="user.NovoGeslo1"
                                name="newpassword" equal-to="user.Geslo" autocomplete="off"
                                onfocus="this.removeAttribute('readonly');" readonly>
                            <div ng-messages="form.newpassword.$error" role="alert">
                                <div ng-message="required">Polje je obvezno.</div>
                                <div ng-message="minlength">Geslo mora vsebovati vsaj 10 znakov.</div>
                                <div ng-message="pass">Geslo mora vsebovati vsaj en znak, &#353;tevilko in veliko
                                    &#269;rko.</div>
                                <div ng-message="equalTo">Novo geslo ne sme biti enako staremu.</div>
                            </div>
                            <p class="caps-lock-alert" style="color:green" ng-show='isCapsLockOn'>Vklopljene velike
                                &#269;rke</p>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="width: 100%;">
                            <label>Potrdi novo geslo</label>
                            <md-icon class="name"><i class="fas fa-key"></i></md-icon>
                            <input required type="password" ng-model="user.NovoGeslo2" name="verifynewpassword"
                                autocomplete="off" compare-to="user.NovoGeslo1"
                                onfocus="this.removeAttribute('readonly');" readonly>
                            <div ng-messages="form.verifynewpassword.$error" role="alert">
                                <div ng-message="required">Polje je obvezno.</div>
                                <div ng-message="compareTo">Geslo se mora ujemati</div>
                            </div>
                            <p class="caps-lock-alert" style="color:green" ng-show='isCapsLockOn'>Vklopljene velike
                                &#269;rke</p>
                        </md-input-container>

                        <div ng-show="response" class="alert alert-danger" role="alert">
                            {{response}}
                        </div>

                        <div>
                            <label>
                                Va&#353;e geslo mora vsebovati vsaj 10 znakov in naslednje kriterije: </br>
                                • Velike &#269;rke (na primer A, B, C) </br>
                                • Male &#269;rke (na primer a, b, c) </br>
                                • Vsaj eno &#353;tevilko.
                            </label>
                        </div>

                    </form>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="setChangePass(false)">Prekli&#269;i</md-button>
                    <md-button class="md-raised md-primary" ng-disabled="(working || form.$invalid)"
                        ng-click="ChangePass()">{{label}}</md-button>
                </md-card-actions>
            </md-card>
        </div>

    </md-content>

    <md-content ng-show="isChangePhone" class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="40" layout="column">

            <md-card style="padding:20px">
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <h2 class="md-title" style="margin-left: -20px;">
                            Sprememba telefonske številke za obveščanje
                        </h2>
                    </div>
                </md-toolbar>
                <div class="card-body">
                    <form name="form">

                        <md-input-container class="md-icon-float md-block" style="width: 100%;">
                            <label>Ime.Priimek (@hit.si)</label>
                            <md-icon class="name"><i class="fas fa-user"></i></md-icon>
                            <input required type="text" ng-model="user.UporabniskoIme" name="username"
                                autocomplete="off" readonly />
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="width: 100%;">
                            <label style="margin-bottom: 25px;">Telefonska &#353;tevilka</label>
                            <md-icon class="name"><i class="hitblue fas fa-phone"></i></md-icon>
                            <input required type="text" ng-model="user.Phone" name="phone" autocomplete="off"
                                ng-readonly="smsSend" ng-intl-tel-input data-initial-country="si">
                            <div ng-messages="form.phone.$error" style="margin-top:-30px" role="alert">
                                <div ng-message="required">Polje je obvezno.</div>
                            </div>
                        </md-input-container>

                        <md-input-container class="md-icon-float md-block" style="width: 100%;margin-top: 50px;" ng-show="smsSend">
                            <label>SMS &#382;eton</label>
                            <md-icon class="name"><i class="hitblue fas fa-phone"></i></md-icon>
                            <input required type="text" ng-model="user.Geslo" name="token" autocomplete="off"
                                onfocus="this.removeAttribute('readonly');" readonly />
                            <div ng-messages="form.token.$error" role="alert">
                                <div ng-message="required">Polje je obvezno.</div>
                            </div>
                        </md-input-container>

                        <div ng-show="response" class="alert alert-danger" role="alert">
                            {{response}}
                        </div>

                        <div style="padding-top: 15px;">
                            <label>
                                {{telefonObvestilo1}}
                            </label>
                            <label style="font-weight: bold;">
                                {{telefonObvestilo2}}
                            </label>
                            <label style="font-weight: bold;">
                                {{telefonObvestilo3}}
                            </label>
                        </div>

                    </form>
                </div>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ng-click="setChangePhone(false)">Prekli&#269;i</md-button>
                    <md-button class="md-raised md-primary" ng-disabled="working" ng-click="SendSMSToken()">{{label}}
                    </md-button>
                </md-card-actions>
            </md-card>
        </div>

    </md-content>

</div>