<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span><i class="fas fa-edit"></i></span>
      <h2>&nbsp;&nbsp;{{label}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="fas fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak style="min-width: 500px">
    <div class="md-dialog-content">

      <form name="form" ng-submit="$event.preventDefault()">

        <md-input-container class="md-icon-float md-block" style="width: 100%;">
          <label>Name</label>
          <input required type="text" ng-model="dto.Name" name="name" />
          <div ng-messages="form.name.$error" role="alert">
            <div ng-message="required">Product name is required.</div>
          </div>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" style="width: 100%;">
          <label>Description</label>
          <input type="text" ng-model="dto.Description" name="description" />
        </md-input-container>

        <md-input-container class="md-icon-float md-block" style="width: 100%;">
          <label ng-style="dto.IsProductSlot == 1 && {'color':'black'}">Show in product slot</label>
          <md-switch ng-model="dto.IsProductSlot"></md-switch>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" ng-if="!dto.IsProductSlot">
          <label>Price</label>
          <input type="text" format="currency" name="price" ng-model="dto.Price" />
          <md-icon><i class="fas fa-euro-sign"></i></md-icon>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" style="width: 100%;">
          <label ng-style="dto.IsTicketProduct == 1 && {'color':'black'}">Tickets product</label>
          <md-switch ng-model="dto.IsTicketProduct"></md-switch>
        </md-input-container>

        <md-input-container class="md-icon-float md-block" ng-if="dto.IsTicketProduct">
          <label>Tickets</label>
          <input type="number" step="any" name="tickets" ng-model="dto.Tickets" ng-pattern="/^[0-9]/" />
        </md-input-container>

        <md-input-container class="md-icon-float md-block" style="width: 100%;" ng-if="dto.IsProductSlot">
          <label>Background color</label>
          <div flex md-color-picker random="true" ng-model="dto.BackgroundColor" open-on-input="true"></div>
        </md-input-container>

        <div class="alert">{{warning}}</div>

      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="Finished" ng-disabled="form.$invalid" class="md-primary" ng-click="ctrl.save($event)">Save
    </md-button>
  </md-dialog-actions>
</md-dialog>