<div class="page">
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Products" ng-click="getProducts()">
                    <md-content>
                        <md-card style="padding: 20px;">

                            <md-button aria-label="edit" class="md-fab md-mini md-gray" ng-click="editProduct($event)">
                                <md-tooltip md-direction="right">{{messages.addProduct}</md-tooltip>
                                <span><i style="margin-top: 12px;" class="fas fa-plus font16"></i></span>
                            </md-button>

                        <div layout="row" layout-align="end end" style="height:43px;">
                            <md-input-container class="md-icon-float md-block" style="width:30%;z-index: 99;">             
                                <md-icon class="name" style="margin-left: 15px;"><i class="fas fa-search"></i></md-icon>
                                <label style="padding-left: 36px;">Search</label>
                                <input ng-model="search" name="search" />
                            </md-input-container>
                          </div>
                
                
                        <!--[if IE]> <div style="margin-top:20px;"> <![endif]-->
                        <md-table-container style="padding-top: 15px;">
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                    <tr md-row>
                                        <th md-column md-order-by="Name"><span>Name</span></th>
                                        <th md-column md-order-by="Description"><span>Description</span></th>
                                        <th md-column md-order-by="IsProductSlot"><span>Show in Product slot</span></th>
                                        <th md-column md-numeric right md-order-by="Price"><span>Price</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select-id="lista" md-auto-select ng-click="editProduct($event,p)"
                                        ng-repeat="p in list | filter: search | orderBy: myOrder | limitTo: myLimit: (myPage - 1) * myLimit"
                                        class="md-row" style="cursor: pointer;">
                                        <td md-cell>{{p.Name}}</td>
                                    <td md-cell>{{p.Description}}</td>
                                    <td md-cell>
                                        <md-checkbox ng-disabled="true" aria-label="Show in Product slot"
                                            ng-model="p.IsProductSlot"></md-checkbox>
                                    </td>
                                    <td md-cell right>{{p.Price | currency}}</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    </md-table-container>
                                    <!--[if IE]> </div> <![endif]-->
                                    <md-table-pagination md-page="myPage" md-limit="myLimit"
                                        md-limit-options="[5, 10, 15]" md-total="{{rows}}"></md-table-pagination>
                        </md-card>

                    </md-content>
                </md-tab>

                <md-tab label="Product slot" ng-click="getProductSlot()">
                    <md-content>
                        <md-card style="padding: 20px;">

                            <md-button aria-label="edit" class="md-fab md-mini md-gray"
                                ng-click="editProductSlot($event)">
                                <md-tooltip md-direction="right">{{messages.addProductSlot}</md-tooltip>
                                <span><i style="margin-top: 12px;" class="fas fa-plus font16"></i></span>
                            </md-button>
    
                        <div layout="row" layout-align="end end" style="height:43px;">
                            <md-input-container class="md-icon-float md-block" style="width:30%;z-index: 99;">             
                                <md-icon class="name" style="margin-left: 15px;"><i class="fas fa-search"></i></md-icon>
                                <label style="padding-left: 36px;">Search</label>
                                <input ng-model="search" name="search" />
                            </md-input-container>
                          </div>
                
                
                        <!--[if IE]> <div style="margin-top:20px;"> <![endif]-->
                        <md-table-container style="padding-top: 15px;">
                            <table md-table>
                                <thead md-head md-order="myOrder">
                                    <tr md-row>
                                        <th md-column md-order-by="ProductName"><span>Product</span></th>
                                        <th md-column md-order-by="Name"><span>Name</span></th>
                                        <th md-column md-order-by="Description"><span>Description</span></th>
                                        <th md-column md-order-by="Account"><span>Account</span></th>
                                        <th md-column md-order-by="IsStaffJob"><span>Staff job</span></th>
                                        <th md-column md-numeric right md-order-by="Income"><span>Income</span></th>
                                        <th md-column md-numeric right md-order-by="Outcome"><span>Outcome</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row md-select-id="lista" md-auto-select ng-click="editProductSlot($event,p)"
                                        ng-repeat="p in list | filter: search | orderBy: myOrder | limitTo: myLimit: (myPage - 1) * myLimit"
                                        class="md-row" style="cursor: pointer;">
                                        <td md-cell>{{p.ProductName}}</td>
                                    <td md-cell>{{p.Name}}</td>
                                    <td md-cell>{{p.Description}}</td>
                                    <td md-cell>{{p.AccountDescription}}</td>
                                    <td md-cell>
                                        <md-checkbox ng-disabled="true" aria-label="Staff job" ng-model="p.IsStaffJob">
                                        </md-checkbox>
                                    </td>
                                    <td md-cell right ng-style="p.Income  > 0 && {'color':'green'}">
                                        {{p.Income | currency}}</td>
                                    <td md-cell right ng-style="p.Outcome > 0 && {'color':'red'}">
                                        {{p.Outcome | currency}}</td>
                                    </tr>
                                    </tbody>
                                    </table>
                                    </md-table-container>
                                    <!--[if IE]> </div> <![endif]-->
                                    <md-table-pagination md-page="myPage" md-limit="myLimit"
                                        md-limit-options="[5, 10, 15]" md-total="{{rows}}"></md-table-pagination>
                        </md-card>
                    </md-content>
                </md-tab>

                <md-tab label="Aircrafts" ng-click="getAircrafts()">
                    <md-content>
                        <md-card style="padding: 20px;">

                            <md-button class="md-icon-button" ng-click="editAircraft($event)">
                                <md-tooltip md-direction="right">{{messages.addAircraft}}</md-tooltip>
                                <span><i class="fas fa-plus font18"></i></span>
                            </md-button>

                            <div layout="row" layout-align="end end" style="height:43px;">
                                <md-input-container class="md-icon-float md-block" style="width:30%;z-index: 99;">
                                    <md-icon class="name" style="margin-left: 15px;"><i class="fas fa-search"></i>
                                    </md-icon>
                                    <label style="padding-left: 36px;">Search</label>
                                    <input ng-model="search" name="search" />
                                </md-input-container>
                            </div>


                            <!--[if IE]> <div style="margin-top:20px;"> <![endif]-->
                            <md-table-container style="padding-top: 15px;">
                                <table md-table>
                                    <thead md-head md-order="myOrder">
                                        <tr md-row>
                                            <th md-column md-order-by="Registration"><span>Registration</span></th>
                                            <th md-column md-order-by="Type"><span>Type</span></th>
                                            <th md-column md-order-by="Name"><span>Name</span></th>
                                            <th md-column md-order-by="Slots"><span>Maximum Slots</span></th>
                                            <th md-column md-order-by="MinSlots"><span>Minimum slots</span></th>
                                            <th md-column md-order-by="RotationTime"><span>Rotation time</span></th>
                                            <th md-column md-order-by="Active"><span>Active</span></th>

                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row md-select-id="lista" md-auto-select ng-click="editAircraft($event,p)"
                                            ng-repeat="p in list | filter: search | orderBy: myOrder | limitTo: myLimit: (myPage - 1) * myLimit"
                                            class="md-row" style="cursor: pointer;">
                                            <td md-cell>{{p.Registration}}</td>
                                            <td md-cell>{{p.Type}}</td>
                                            <td md-cell>{{p.Name}}</td>
                                            <td md-cell>{{p.MaxSlots}}</td>
                                            <td md-cell>{{p.MinSlots}}</td>
                                            <td md-cell>{{p.RotationTime}}</td>
                                            <td md-cell>
                                                <md-checkbox ng-disabled="true" aria-label="Aircraft active"
                                                    ng-model="p.Active"></md-checkbox>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                            <!--[if IE]> </div> <![endif]-->
                            <md-table-pagination md-page="myPage" md-limit="myLimit" md-limit-options="[5, 10, 15]"
                                md-total="{{rows}}"></md-table-pagination>
                        </md-card>

                    </md-content>
                </md-tab>

                <md-tab label="Company">
                    <md-content>
                        <h1 class="md-display-2">Company</h1>
                        <p>Aviofun d.o.o.
                            Gorče 12a,

                            2372 Libeliče,

                            Slovenia

                            VAT ID: SI36591530

                            E-mail: info@aviofun.com</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
<div ng-init="init()"></div>