sb.manifest.api/Database
sb.manifest.api/.vs
sb.manifest.api/Properties/PublishProfiles/FolderProfile.pubxml.user
sb.manifest.api/Properties/PublishProfiles/FolderProfile.pubxml
sb.manifest.api/obj/Debug/netcoreapp3.1/sb.manifest.api.assets.cache
