<div class="container d-flex" style="padding-top: 7%;"> <div class="row no-gutters align-self-center w-100">
    <div class="col-12 mx-auto">
        <div class="card card-prijava mx-auto">
            <div class="card-header bg-hit">
                <div class="row no-gutters">
                    <div style="width: 80%; text-align: left;">
                        <h3 class="hit-c-white">
                            <span id="hit-app-txt" style="margin-left: -5px;">&nbsp;SMS &#382;eton</span></h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form name="form">

                    <md-input-container class="md-icon-float md-block" style="width: 100%;padding-bottom: 20px;">
                        <label>Ime.Priimek (@hit.si)</label>
                        <md-icon class="name"><i class="fas fa-user"></i></md-icon>
                        <input required type="text" ng-model="user.UporabniskoIme" name="username" autocomplete="off"
                            onfocus="this.removeAttribute('readonly');" readonly />
                        <div ng-messages="form.username.$error" role="alert">
                            <div ng-message="required">Polje je obvezno.</div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-icon-float md-block" style="width: 100%;">
                        <label style="margin-bottom: 25px;">Telefonska &#353;tevilka</label>
                        <md-icon class="name"><i class="hitblue fas fa-phone"></i></md-icon>
                        <input required type="text" ng-model="user.Phone" name="phone" autocomplete="off"
                            onfocus="this.removeAttribute('readonly');" readonly ng-intl-tel-input data-initial-country="si">
                        <div ng-messages="form.phone.$error" style="margin-top:-30px" role="alert">
                            <div ng-message="required">Polje je obvezno.</div>
                        </div>
                    </md-input-container>

                    <div ng-show="response" class="alert alert-danger" role="alert">
                        {{response}}
                    </div>

                    <div id="blank" class="row align-items-center">
                        <label>&nbsp;</label>
                    </div>

                    <div class="row align-items-center">                 
                        <md-button class="md-raised md-primary" style="width: 100%;font-size: 16px;padding:2px" 
                        ng-disabled="(working || form.$invalid)" ng-click="SendSMSToken()">{{label}}</md-button>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
</div>