<div style="overflow-x: auto;white-space: nowrap;">
    <div layout="row">
        <mat-tab-group>
            <md-button class="md-fab md-primary" style="background-color: darkgray;" ng-click="showList()">
                <md-tooltip class="hit-tooltip" md-direction="right">Nazaj</md-tooltip>
                <md-icon style="margin-top: -24px;"><i class="fa fa-arrow-left font20"></i></md-icon>
            </md-button>
        </mat-tab-group>
        <mat-tab-group style="padding-left: 30px;">
            <md-button class="md-fab md-primary" ng-click="print()">
                <md-tooltip class="hit-tooltip" md-direction="right">Tiskaj</md-tooltip>
                <md-icon style="margin-top: -24px;"><i class="fa fa-print font20"></i></md-icon>
            </md-button>
        </mat-tab-group>
    </div>
    <div id="payrollList" ng-class="getPayrollCss()" style="padding-top:10px;">
        <label  align="justify">
            <pre>{{data | multiline}}</pre>
        </label>
    </div>
</div>