<div class="page">
    <md-card style="padding:10px;">
        <md-toolbar class="md-table-toolbar md-default">
            <md-card-title-text style="padding-bottom: 15px;">
                <span class="md-title">Customers</span>
            </md-card-title-text>
            <md-divider></md-divider>
        </md-toolbar>

        <div layout="row">
            <div flex="70">
                <md-button aria-label="Open menu" class="md-fab md-mini md-gray" ng-click="editCustomer($event,{})">
                    <md-tooltip md-direction="right">{{messages.addCustomer}}</md-tooltip>
                    <span><i style="margin-left: 5px;" class="fas fa-user-plus font16"></i></span>
                </md-button>
            </div>

            <div flex="30">
                <md-input-container class="md-icon-float md-block">
                    <md-icon class="name" style="margin-left: 15px;cursor: pointer;" ng-click="getCustomerList()"><i
                            class="fas fa-search"></i></md-icon>
                    <label style="padding-left: 36px;z-index: 99;">Search</label>
                    <input ng-model="search" name="search" ng-keypress="onKeyPressSearch($event)" />
                </md-input-container>

            </div>
        </div>

        <!--[if IE]> <div style="margin-top:20px;"> <![endif]-->
        <md-table-container>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getCustomerList">
                    <tr md-row>
                        <th md-column md-order-by="Id"><span>Id</span></th>
                        <th md-column md-order-by="FirstName"><span>First name</span></th>
                        <th md-column md-order-by="LastName"><span>Last name</span></th>
                        <th md-column md-order-by="IdCountry"><span>Country</span></th>
                        <th md-column md-numeric right md-order-by="AvailableTickets"><span>Available tickets</span></th>
                        <th md-column md-numeric right md-order-by="Limit"><span>Limit</span></th>
                        <th md-column md-numeric right md-order-by="TicketPrice"><span>TicketPrice</span></th>
                        <th md-column md-numeric right md-order-by="Balance"><span>Balance</span></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select-id="lista" ng-repeat="p in list" class="md-row showhim"
                        ng-click="setSelected(p.Id)" ng-class="{selected: p.Id === IdSelected}">
                        <td md-cell>{{p.Id}}</td>
                        <td md-cell>{{p.FirstName}}</td>
                        <td md-cell>{{p.LastName}}</td>
                        <td md-cell>
                            <img ng-src="{{getFlagSrc(p.CountryIso)}}" />
                            {{p.Country}}</td>
                        <td md-cell right>{{p.TicketName}} {{p.AvailableTickets}}</td>
                        <td md-cell right>{{p.Limit | currency}}</td>
                        <td md-cell right>{{p.TicketPrice | currency}}</td>
                        <td md-cell right ng-style="p.Balance >= 0 && {'color':'green'} || {'color': 'red'}">
                            {{p.Balance | currency}}</td>
                        <td style="width: 20px;">

                            <md-menu class="td-menu showme">
                                <md-button aria-label="Open menu" class="md-icon-button"
                                    ng-click="setSelected(p.Id);$mdMenu.open($event)">
                                    <span><i class="fas fa-ellipsis-v"></i></span>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="detailsCustomer(p)">
                                            <span><i class="fas fa-info-circle"></i></span>
                                            &nbsp;&nbsp;Details
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="editCustomer($event,p)">
                                            <span><i class="fas fa-edit"></i></span>
                                            &nbsp;&nbsp;Edit
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button>
                                            <span><i class="fas fa-trash-alt"></i></span>
                                            &nbsp;&nbsp;Delete
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item ng-if="p.Balance<0">
                                        <md-button ng-click="getInvoice($event,p)">
                                            <span><i class="fas fa-file-invoice"></i></span>
                                            &nbsp;&nbsp;Invoice
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="purchase($event,p)">
                                            <span><i class="fas fa-shopping-cart"></i></span>
                                            &nbsp;&nbsp;Purchase
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>

                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <!--[if IE]> </div> <![endif]-->
        <md-table-pagination md-page="query.page" md-limit="query.limit" md-limit-options="[5, 10, 15]"
            md-total="{{rows}}" md-on-paginate="getCustomerList">
        </md-table-pagination>
    </md-card>
</div>

<div ng-init="init()"></div>