<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span><i class="fas fa-edit"></i></span>
      <h2>&nbsp;&nbsp;{{label}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="fas fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak style="min-width: 500px">
    <div class="md-dialog-content">
      <form name="form" ng-submit="$event.preventDefault()">

        <div layout-gt-sm="row">
          <md-input-container class="md-icon-float md-block" style="width: 100%;">
            <label>First Name</label>
            <input required md-maxlength="50" type="text" ng-model="customer.FirstName" name="first" capitalize-first/>
            <div ng-messages="form.first.$error" role="alert">
              <div ng-message="required">{{messages.required}}</div>
            </div>
          </md-input-container>

          <md-input-container class="md-icon-float md-block" style="width: 100%;">
            <label>Last Name</label>
            <input required md-maxlength="50" type="text" ng-model="customer.LastName" name="last" capitalize-first/>
            <div ng-messages="form.last.$error" role="alert">
              <div ng-message="required">{{messages.required}}</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-icon-float md-block" style="width: 100%;">
            <label>Email</label>
            <input required md-maxlength="50" type="email" ng-model="customer.Email" name="email" />
            <div ng-messages="form.email.$error" role="alert">
              <div ng-message="required">{{messages.required}}</div>
            </div>
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-icon-float md-block" style="width: 100%;">
            <label>Country</label>
            <md-select ng-model="customer.IdCountry" md-on-open="getCountries()" ng-init="setCountry(customer)">
              <md-option ng-repeat="item in countries" value="{{item.Id}}">
                {{item.Name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div layout-gt-sm="row" style="margin-top: 25px;">
          <md-input-container class="md-icon-float md-block" style="width: 100%;">
            <label style="margin-bottom: 25px;">Phone number</label>
            <md-icon class="name"><i class="blue fas fa-phone"></i></md-icon>
            <input type="text" ng-model="customer.Phone" name="phone" ng-intl-tel-input data-initial-country="si">
          </md-input-container>
        </div>

        <div class="alert">{{warning}}</div>

      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="Finished" ng-disabled="form.$invalid" ng-click="ctrl.save($event)">Save</md-button>
  </md-dialog-actions>
</md-dialog>