<md-dialog>
  <form name="form" ng-submit="$event.preventDefault()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span><i class="fas fa-edit"></i></span>
        <h2>&nbsp;&nbsp;{{label}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="ctrl.cancel()">
          <i class="fas fa-times"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content ng-cloak style="min-width: 50vw">

      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="basic">
          <md-content class="md-padding bgwhite">

            <div layout-gt-sm="row">
              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>First Name</label>
                <input required md-maxlength="50" type="text" ng-model="customer.FirstName" name="first"
                  capitalize-first />
                <div ng-messages="form.first.$error" role="alert">
                  <div ng-message="required">{{messages.required}}</div>
                </div>
              </md-input-container>

              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Last Name</label>
                <input required md-maxlength="50" type="text" ng-model="customer.LastName" name="last"
                  capitalize-first />
                <div ng-messages="form.last.$error" role="alert">
                  <div ng-message="required">{{messages.required}}</div>
                </div>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">

              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Email</label>
                <input required md-maxlength="50" type="email" ng-model="customer.Email" name="email" />
                <div ng-messages="form.email.$error" role="alert">
                  <div ng-message="required">{{messages.required}}</div>
                </div>
              </md-input-container>

              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Birth date</label>
                <md-datepicker ng-required="true" ng-model="customer.BirthDate" name="birth"></md-datepicker>
                <div ng-messages="form.birth.$error" role="alert">
                  <div ng-message="required">{{messages.required}}</div>
                </div>
              </md-input-container>

              <md-input-container class="md-icon-float md-block" style="width: 50%;">
                <label>Weight (kg)</label>
                <input required type="number" step="any" name="weight" ng-model="customer.Weight" ng-pattern="/^[0-9]/" />
                <div ng-messages="form.weight.$error" role="alert">
                  <div ng-message="required">Weight is required.</div>
                </div>
              </md-input-container>
            </div>


            <div layout-gt-sm="row">
              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Address</label>
                <input md-maxlength="100" type="text" ng-model="customer.Address" name="address"
                  capitalize-first />
              </md-input-container>
              
              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Postal code</label>
                <input type="number" ng-model="customer.PostalCode" name="postalcode"/>
              </md-input-container>

              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Country</label>
                <md-select ng-model="customer.IdCountry" md-on-open="getCountries()" ng-init="setCountry(customer)">
                  <md-option ng-repeat="item in countries" value="{{item.Id}}">
                    {{item.Name}}
                  </md-option>
                </md-select>
              </md-input-container>

            </div>

            <div layout-gt-sm="row">

              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label style="margin-bottom: 25px;">Phone number</label>
                <input type="text" style="margin-bottom: 25px;" ng-model="customer.Phone" name="phone" ng-intl-tel-input
                  data-initial-country="si">
              </md-input-container>

            </div>

            <div class="alert">{{warning}}</div>

          </md-content>
        </md-tab>
        <md-tab label="settings">
          <md-content class="md-padding bgwhite">

            <div layout-gt-sm="row">
              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Limit</label>
                <input type="text" format-currency name="limit" ng-model="customer.Limit"/>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">
              <md-input-container class="md-icon-float md-block" style="width: 100%;">
                <label>Ticket price</label>
                <input type="text" format-currency name="ticketprice" ng-model="customer.TicketPrice"/>
              </md-input-container>
            </div>

            <div layout-gt-sm="row">

            </div>

          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>

    <md-dialog-actions id="end">
      <md-button aria-label="save" class="md-primary" ng-disabled="form.$invalid" ng-click="ctrl.save($event)">Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>