<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span><i class="fas fa-user-plus"></i></span>
      <h2>&nbsp;&nbsp;{{dto.AircraftName}} <b>{{dto.Number}}</b></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="fas fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak style="min-width:30vw">
    <div class="md-dialog-content">
      <form name="form" ng-submit="$event.preventDefault()">

        <md-input-container class="md-block" style="padding-bottom: 30px;">
          <label>Product</label>
          <md-select ng-model="productSelected" ng-change="productChange(productSelected)">
            <md-option ng-repeat="item in productList" value="{{item.Id}}">
              {{item.Name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" style="padding-bottom: 15px;" ng-repeat="p in productSlot"
          ng-if="!warning">

          <label>{{p.Name}}</label>
          <md-select required ng-model="passenger" name="passenger" ng-change="addPassenger(passenger,p)"
            md-container-class="selectSelectHeader">
            <md-select-header class="select-header">
              <input ng-model="ctrl.searchText" aria-label="Search passenger" force-select-focus type="search"
                placeholder="Search by Name..." autocomplete="off" class="header-searchbox md-text"
                ng-keydown="$event.stopPropagation()" ng-keypress="onKeySearch($event)">
            </md-select-header>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="ctrl.working">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>
            <md-option ng-value="item.Id" class="separator"
              ng-repeat="item in customers | filter:ctrl.searchText | filter:unique | staffilter:p.IsStaffJob"
              ng-disabled="item.OnBoard">
              <div><b>{{item.Name}}</b></div>
              <div class="load-add-customer-remark">
                <span class="warning" ng-show="item.OnBoard">Already in</span>
                <span ng-show="item.AvaibleTickets && !item.OnBoard">
                  Ticket: {{item.TicketName}} ({{item.AvaibleTickets}})</span>
                <span ng-show="item.AvaibleTickets && item.AvaibleFunds && !item.OnBoard">|</span>
                <span ng-class="item.AvaibleFunds <= 0 ? 'warning' : ''" ng-show="item.AvaibleFunds && !item.OnBoard">
                  Available funds: {{item.AvaibleFunds | currency}}</span>
              </div>
            </md-option>
          </md-select>
          <div ng-messages="form.passenger.$error" role="alert">
            <div ng-message="required">{{message.required}}</div>
          </div>
        </md-input-container>

        <div ng-show="ctrl.warning" class="alert alert-danger" role="alert">
          {{ctrl.warning}}
        </div>

      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="Finished" ng-disabled="(ctrl.warning || !isValid())" class="md-primary"
      ng-click="ctrl.add($event)">Add</md-button>
  </md-dialog-actions>
</md-dialog>

<div ng-init="init()"></div>