<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span><i class="fas fa-plane-departure"></i></span>
      <h2>&nbsp;&nbsp;Load {{dto.Number}} {{dto.Aircraft}} {{dto.Registration}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="fas fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak style="min-width: 500px">
    <div class="md-dialog-content">
      <form ng-submit="$event.preventDefault()">

        <md-input-container class="md-block">
          <label>Schedule</label>
          <md-time-picker ng-model="dto.scheduled" message="message" no-meridiem no-auto-switch></md-time-picker>
        </md-input-container>

        <div class="alert">{{warning}}</div>

      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="Confirm" class="md-primary" ng-click="ctrl.save($event)">Confirm</md-button>
  </md-dialog-actions>
</md-dialog>