<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span><i class="fas fa-plane-departure"></i></span>
      <h2>&nbsp;&nbsp;{{dto.AircraftName}} <b>{{dto.Number}}</b>
        <span style="font-size: .66em; opacity: .66;">{{dto.AircraftRegistration}}</span>
        &nbsp;
        <span style="font-size: .66em;"><span style="opacity: .66;">rotation time:</span> {{dto.RotationTime}}
          min</span></h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="fas fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak style="min-width: 500px" class="md-dialog-content">

    <div layout="row" style="margin-bottom: .5em; color: rgba(0,0,0,.5);">
      <div flex="65">
        Scheduled: <b>{{getOriginalMinutesLeft()}} min</b>
      </div>
      <div flex="35" style="text-align: end;">
        <small>{{originalScheduledTime | date:'dd. MM. yyyy HH:mm'}}</small>
      </div>
    </div>

    <div layout="row" style="margin-bottom: 1em;">
      <div flex="65">
        Reschedule:<span style="font-size: 1.5em;"> {{addedTime>0?'+':''}}{{addedTime}} =
          <b>{{getOriginalMinutesLeft() + addedTime}} min</b></span>
      </div>
      <div flex="35" style="text-align: end; padding-top: .5em;">
        <small>{{scheduledTime | date:'dd. MM. yyyy HH:mm'}}</small>
      </div>
    </div>

    <div class="addTime">
      <div>
        <a ng-repeat="b in addButtons" href="#" onclick="return false;" ng-click="add(b)">+{{b}}</a>
      </div>
      <div class="negative">
        <a ng-repeat="b in addButtons" href="#" onclick="return false;" ng-click="add(-b)">-{{b}}</a>
      </div>
    </div>
    <div style="margin-bottom: 1em;">
      <a href="#" onclick="return false;" ng-click="reset()">reset</a>
    </div>

    <div style="padding-top: .5em; border-style: solid; border-width: 1px 0 0 0; border-color: #ddd;">
      <small
        style="display:block; margin-bottom: .5em;">{{prevLoad ? 'Previous load:' : 'No previous loads scheduled  for ' + dto.AircraftName + '.'}}</small>
      <div layout="row" ng-if="prevLoad">
        <div flex="65">
          {{prevLoad.AircraftName}} {{prevLoad.Number}}
          &nbsp;&nbsp;
          {{prevLoad.DepartureMinutesLeft}} min
          &nbsp;&nbsp;
          gap: <b>{{getGap()}} min</b>
        </div>
        <div flex="35" style="text-align: end;">
          <small>{{prevLoad.DateDeparted | date:'dd. MM. yyyy HH:mm'}}</small>
        </div>
      </div>
    </div>

    <div ng-if="warning" class="alert">{{warning}}</div>

  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="ok" class="md-primary" ng-disabled="form.$invalid" ng-click="ctrl.save($event)">OK
    </md-button>
  </md-dialog-actions>
</md-dialog>