<div id="loads-main" style="padding-bottom: 50px;">

    <md-content class="md-padding loads" layout-xs="column" layout="row">
        <!-- <div flex-xs flex-gt-xs="25" style="flex-shrink: 0;" layout="column" -->
        <div flex-xs style="flex-shrink: 0; min-width: 280px; width: 18%;" layout="column"
            ng-repeat="l in loads | orderBy: 'Id' track by $index">

            <md-card class="load" ng-class="l.SlotsLeft > 0 ? '' : l.SlotsLeft == 0 ? 'full' : 'overbooked'"
                data-drop="true" data-jqyoui-options="dropOptions" ng-model="l.GroupList"
                jqyoui-droppable="{onDrop:'dropCallback()', beforeDrop:'beforeDrop(l)', multiple:true}">
                <div layout="row" class="load-top">
                    <div flex="50" class="slots-left">
                        <span class="value">{{l.SlotsLeft}}</span>
                        <span class="label-small">slots</span>
                    </div>
                    <div flex="50" style="text-align: end;">
                        <div class="min-left">
                            <span class="value">{{l.IdAircraft * 2 + l.Number * 20}}</span>
                            <span class="label-small">min</span>
                        </div>
                    </div>
                </div>

                <md-card-title style="padding: 8px;">
                    <md-card-title-text>
                        <div class="md-headline blue">{{l.AircraftName}} <b>{{l.Number}}</b>
                            <b style="display: block;">{{l.Description}}</b></div>
                        <span class="md-subhead">{{l.AircraftType}} <b
                                style="display: inline-block;">{{l.AircraftRegistration}}</b></span>
                        <span class="md-subhead">{{l.TotalWeight}} kg &bull; {{l.Profit | currency}}</span>
                    </md-card-title-text>

                    <md-card-actions layout="column">
                        <md-menu>
                            <md-button aria-label="Open menu" class="md-fab md-mini md-gray"
                                ng-click="$mdMenu.open($event)">
                                <span><i class="fas fa-ellipsis-v"></i></span>
                            </md-button>
                            <md-menu-content style="text-align: left;">
                                <md-menu-item>
                                    <md-button ng-click="addPeople($event,l)">
                                        <span><i class="fas fa-user-plus"></i></span>
                                        &nbsp;&nbsp;Add
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="editLoad($event,l)">
                                        <span><i class="fas fa-edit"></i></span>
                                        &nbsp;&nbsp;Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="deleteLoad($event,l)">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                        &nbsp;&nbsp;Delete
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="confirmLoad($event,l)">
                                        <span><i class="fas fa-check-square"></i></span>
                                        &nbsp;&nbsp;Confirm
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-actions>
                </md-card-title>
                <md-card-content style="padding: 0">
                    <div class="slots">
                        <md-card class="slot-card" data-drag="true" data-jqyoui-options="dragOptions"
                            ng-repeat="g in l.GroupList | orderBy: 'DateOnLoad' track by $index"
                            ng-model="l.GroupList[$index]"
                            jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback(g)'}"
                            ng-hide="!g.IdGroup"
                            ng-style="{'background-color':g.BackgroundColor, 'border-color':g.BackgroundColor}">
                            <md-card-content>
                                <div class="slot" ng-repeat="p in g.LoadList | orderBy: 'ProductSlotName'"
                                    data-idcustomer="{{p.IdPerson}}" ng-dblclick="selectCustomer(p.IdPerson)"
                                    ng-mousedown="addGroup($event)">
                                    <div layout="row">
                                        <div flex="70" class="slot-name">
                                            <div>{{p.ProductSlotName}}</div>
                                        </div>
                                        <div flex="30" class="profit">
                                            <span ng-if="p.Profit" ng-class="p.Profit >= 0 ? 'positive': 'negative'">
                                                {{p.Profit | currency}}
                                            </span>
                                        </div>
                                    </div>
                                    <div layout="row" class="passenger">
                                        <div flex="70">
                                            <span class="name"><span
                                                    class="group-placeholder"></span>{{p.Passenger}}</span>
                                        </div>
                                        <div flex="30" style="text-align: end;">
                                            <span class="tickets" ng-if="p.AvailableTickets > 0">
                                                <small>TK</small> {{p.AvailableTickets}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div  class="dodatno">Delete ..... Move to .....</div> -->
                            </md-card-content>
                        </md-card>
                    </div>
                </md-card-content>
                <div class="load-shortcuts">
                    <span ng-repeat="p in productList">
                        <a href="#" onclick="return false;" ng-click="addPeople($event,l,p.Id)">{{p.Name}}</a>
                        {{($index < productList.length - 1) ? "|" : ""}}
                    </span>
                </div>
            </md-card>
            <md-card class="load-bin" data-drop="true" data-jqyoui-options="dropOptions" data-idload="{{l.Id}}"
                jqyoui-droppable="{onDrop:'dropCallback()', beforeDrop:'beforeDrop(-1)', multiple:true}">
                <md-card-content>
                    <i class="fas fa-3x fa-trash-alt"></i>
                </md-card-content>
            </md-card>
        </div>
    </md-content>

    <div class="loads-helper">

        <div id="loads-helper-groups">
            <span ng-repeat="g in [0,1,2,3,4,5,6,7]">
                <span class="group g{{g}}" ng-click="selectGroup(g)">{{g}}</span>
            </span>

           <a href="#" onclick="return false;"  ng-click="openSideMenu()"
                    class="btn-more">
            <i class="fas fa-ellipsis-v"></i>
        </a>
        </div>

        <div class="loads-helper-slots">
            <md-input-container class="md-icon-float md-block">
                <label>Search</label>
                <input ng-model="searchText" name="search" ng-keypress="onKeySearch($event)" />
            </md-input-container>
            <div layout="row" layout-sm="column" layout-align="space-around" ng-if="working">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <md-card class="slot-card" data-drag="true" data-jqyoui-options="dragOptions"
                ng-repeat="g in persons track by $index" ng-model="g[$index]"
                jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallbackAdd(g)'}" data-drop="false">
                <md-card-content>
                    <div class="slot" data-idcustomer="{{g.Id}}" ng-dblclick="selectCustomer(g.Id)">
                        <div layout="row" class="passenger">
                            <div flex="70">
                                <span class="name">{{g.Name}}</span>
                                <div class="slot-name">
                                    <span style="display: inline-block;" ng-show="g.AvailableTickets">Tickets:
                                        {{g.TicketName}} ({{g.AvailableTickets}})</span>
                                    <span style="display: inline-block;" ng-show="g.AvailableFunds">Available funds:
                                        {{g.AvailableFunds | currency}}</span>
                                </div>
                            </div>
                            <div flex="30" style="text-align: end;">
                                <span class="tickets" ng-if="!g.Profit && g.AvailableTickets > 0">
                                    <small>TK</small> {{g.AvailableTickets}}
                                </span>
                            </div>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
            <md-button ng-click="closeSideMenu()" class="md-primary">
                Close
            </md-button>
        </div>
    </div>
</div>


<div class="md-padding actionButtons" layout="column">
    <md-fab-speed-dial md-open="true" md-direction="left" class="md-fling md-fab-bottom-right md-hover-full speed-dial">
        <md-fab-trigger>
            <md-button class="md-primary md-fab md-gray">
                <span><i class="fas fa-ellipsis-h font18"></i></span>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
            <md-button class="md-primary md-fab" ng-click="editLoad($event)">
                <span><i class="fas fa-plane-departure font18"></i></span>
                <md-tooltip md-direction="left">{{messages.addLoad}}</md-tooltip>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial>
</div>

<div ng-init="init()"></div>