<div style="padding-bottom: 50px;">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <!-- <div flex-xs flex-gt-xs="25" style="flex-shrink: 0;" layout="column" -->
        <div flex-xs style="flex-shrink: 0; min-width: 300px; width: 20%;" layout="column"
            ng-repeat="l in loads | orderBy: 'Id' track by $index">

            <md-card data-drop="true" data-jqyoui-options="dropOptions" ng-model="l.GroupList"
                jqyoui-droppable="{onDrop:'dropCallback()', beforeDrop:'beforeDrop(l)', multiple:true}">
                <md-card-title style="padding: 9px 7px 5px;">
                    <md-card-title-text>
                        <div class="md-headline blue">{{l.AircraftName}} {{l.Number}} 
                        <b style="display: block;">{{l.Description}}</b></div>
                        <span class="md-subhead">{{l.AircraftType}} <b>{{l.AircraftRegistration}}</b></span>
                        <span class="md-subhead">{{getLoadProfit(l.Id) | currency}} | {{getLoadWeight(l.Id)}} kg</span>
                    </md-card-title-text>
                    <md-card-actions layout="column">
                        <md-menu class="td-menu">
                            <md-button aria-label="Open menu" class="md-fab md-mini md-gray"
                                ng-click="$mdMenu.open($event)">
                                <span><i class="fas fa-ellipsis-v"></i></span>
                            </md-button>
                            <md-menu-content style="text-align: left;">
                                <md-menu-item>
                                    <md-button ng-click="addPeople($event,l)">
                                        <span><i class="fas fa-user-plus"></i></span>
                                        &nbsp;&nbsp;Add
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="editLoad($event,l)">
                                        <span><i class="fas fa-edit"></i></span>
                                        &nbsp;&nbsp;Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="deleteLoad($event,l)">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                        &nbsp;&nbsp;Delete
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="confirmLoad($event,l)">
                                        <span><i class="fas fa-check-square"></i></span>
                                        &nbsp;&nbsp;Confirm
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-actions>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between" class="load"
                    style="padding: 0px 3px 3px 7px;">
                    <div layout="row" style="width: 100%;">
                        <div flex="15">
                            <div class="slots-left">Slots<br>left</div>
                            <div class="font30" ng-style="getSlotsLeft(l.MaxSlots,l.Id) < 0 && {'color':'red'}">
                                {{getSlotsLeft(l.MaxSlots,l.Id)}}</div>
                        </div>
                        <div flex="85" class="slots">
                            <md-card class="slot-card" data-drag="true" data-jqyoui-options="dragOptions"
                                ng-repeat="g in l.GroupList | orderBy: 'DateOnLoad' track by $index"
                                ng-model="l.GroupList[$index]"
                                jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback(g)'}"
                                ng-hide="!g.IdGroup"
                                ng-style="{'background-color':g.BackgroundColor, 'border-color':g.BackgroundColor}">
                                <md-card-content style="cursor: -webkit-grab;">
                                    <div ng-repeat="p in g.LoadList | orderBy: 'ProductSlotName'" class="slot">
                                        <div layout="row">
                                            <div flex="70" class="slot-name">
                                             <div>{{p.ProductSlotName}}</div>
                                            </div>
                                            <div flex="30" class="profit">
                                                <span ng-if="p.Profit"
                                                    ng-class="p.Profit >= 0 ? 'positive': 'negative'">
                                                    {{p.Profit | currency}}
                                                </span>
                                            </div>
                                        </div>
                                        <div layout="row" class="passenger">
                                            <div flex="70">
                                                <span class="name">{{p.Passenger}}</span>
                                            </div>
                                            <div flex="30" style="text-align: end;">
                                                <!-- <span ng-if="p.Profit"
                                                    ng-class="p.Profit >= 0 ? 'profit positive': 'profit negative'">
                                                    {{p.Profit | currency}}
                                                </span> -->
                                                <span class="tickets" ng-if="!p.Profit && p.AvaibleTickets > 0">
                                                    <small>TK</small> {{p.AvaibleTickets}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div  class="dodatno">Delete ..... Move to .....</div> -->
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    <div layout="row">
        <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="editLoad($event)">
            <span><i class="fas fa-plane-departure font18"></i></span>
            <md-tooltip md-direction="left">{{messages.addLoad}}</md-tooltip>
        </md-button>
    </div>
</div>

<div ng-init="init()"></div>