<div style="padding-bottom: 50px;">
    <md-content class="md-padding" layout-xs="column" layout="row">
        <div flex-xs flex-gt-xs="25" style="flex-shrink: 0;" layout="column"
            ng-repeat="l in loads | orderBy: 'Number' track by $index">

            <md-card data-drop="true" data-jqyoui-options="dropOptions" ng-model="l.GroupList"
                jqyoui-droppable="{onDrop:'dropCallback()',beforeDrop: 'beforeDrop(l)'}">
                <md-card-title style="padding: 9px 7px 5px;">
                    <md-card-title-text>
                        <span class="md-headline blue">Load {{l.Number}} {{l.Description}}</span>
                        <span class="md-subhead">{{l.AircraftType}} {{l.AircraftRegistration}} {{l.Altitude}}</span>
                    </md-card-title-text>
                    <md-card-actions layout="column">
                        <md-menu class="td-menu">
                            <md-button aria-label="Open menu" class="md-fab md-mini md-gray" ng-click="$mdMenu.open($event)">
                                <span><i class="fas fa-ellipsis-v"></i></span>
                            </md-button>
                            <md-menu-content style="text-align: left;">
                                <md-menu-item>
                                    <md-button ng-click="addPeople($event,l)">
                                        <span><i class="fas fa-user-plus"></i></span>
                                        &nbsp;&nbsp;Add
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="editLoad($event,l)">
                                        <span><i class="fas fa-edit"></i></span>
                                        &nbsp;&nbsp;Edit
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="deleteLoad($event,l)">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                        &nbsp;&nbsp;Delete
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="confirmLoad($event,l)">
                                        <span><i class="fas fa-check-square"></i></span>
                                        &nbsp;&nbsp;Confirm
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </md-card-actions>
                </md-card-title>
                <md-card-content layout="row" layout-align="space-between" style="padding: 0px 3px 3px 7px;">
                    <div layout="row" style="width: 100%;">
                        <div flex="25">
                            <span class="md-subhead gray">Slots left</span></br>
                            <span class="font30" ng-style="getSlotsLeft(l.MaxSlots,l.Id) < 0 && {'color':'red'}">{{getSlotsLeft(l.MaxSlots,l.Id)}}</span>
                            </br>
                            <span class="md-subhead gray">Profit</span></br>
                            <span class="font18">{{getLoadProfit(l.Id) | currency}}</span>
                        </div>
                        <div flex="75">
                            <md-card data-drag="true" data-jqyoui-options="dragOptions"
                                ng-repeat="g in l.GroupList track by $index" ng-model="l.GroupList[$index]"
                                jqyoui-draggable="{index: {{$index}},animate:true,onStart:'startCallback(g)'}"
                                ng-hide="!g.IdGroup" ng-style="{'background-color':g.BackgroundColor}">
                                <md-card-content style="padding: 0px 7px 0px 5px;cursor: -webkit-grab;">
                                    <div ng-repeat="p in g.LoadList | orderBy: 'ProductSlotName'">
                                        <span  class="font12 gray">{{p.ProductSlotName}}</span><br>
                                        <div layout="row" class="font14">
                                            <div flex="50">
                                                <label>{{p.Passenger}}</label>
                                            </div>
                                            <div flex="50" style="text-align: end;">
                                                <label
                                                    ng-style="p.Profit >= 0 && {'color':'green'} || {'color': 'red'}">
                                                    {{p.Profit | currency}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </md-card-content>
                            </md-card>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    <div layout="row">
        <md-button class="md-primary md-fab md-fab-bottom-right" ng-click="editLoad($event)">
            <span><i class="fas fa-plane-departure font18"></i></span>
            <md-tooltip md-direction="left">{{messages.addLoad}}</md-tooltip>
        </md-button>
    </div>
</div>

<div ng-init="init()"></div>