<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span><i class="fas fa-file-invoice"></i></span>
      <h2>&nbsp;&nbsp;Invoice</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="ctrl.cancel()">
        <i class="fas fa-times"></i>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content ng-cloak style="min-width: 40vw">
    <div class="md-dialog-content">
      <form ng-submit="$event.preventDefault()">

        <h1>{{dto.Name}}</h1>

        <div layout="row" layout-sm="column" layout-align="space-around" ng-if="working">
          <md-progress-circular md-mode="indeterminate"></md-progress-circular>
        </div>


        <md-table-container ng-if="!working" style="height:50%;overflow:auto;">
            <table md-table>
                <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="Description"><span>Description</span></th>
                        <th md-column md-order-by="LoadNo"><span>LoadNo</span></th>
                        <th md-column md-order-by="Aircraft"><span>Aircraft</span></th>                   
                        <th md-column md-order-by="Date"><span>Date</span></th>
                        <th md-column md-numeric right md-order-by="Amount"><span>Amount</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select-id="lista" md-auto-select ng-repeat="p in list">
                        <td md-cell>{{p.Description}}</td>
                        <td md-cell>{{p.LoadNo}}</td>
                        <td md-cell>{{p.Aircraft}}</td>
                        <td md-cell>{{p.Date | date:'HH:mm dd.MM.yyyy'}}</td>
                        <td md-cell right>{{p.Amount | currency}}</td>
                    </tr>
                </tbody>
            </table>
          </md-table-container>
         
<md-divider></md-divider>

          <div layout="row" ng-if="!working">
                 <div flex="" style="text-align: right;padding-top: 15px;">
               <span>Total</span></br>
              <span class="font30">{{sum() | currency}}</span>    
                 </div>         
          </div>


        <div class="alert">{{warning}}</div>

      </form>
    </div>
  </md-dialog-content>

  <md-dialog-actions>
    <md-button aria-label="Confirm" class="md-primary" ng-click="ctrl.save($event)">Payed</md-button>
  </md-dialog-actions>
</md-dialog>
<div ng-init="getInvoiceData()"></div>