<div ng-if="showLoadList" id="loads-main">
    <md-content class="loads" layout-xs="column" layout="row">
        <div flex-xs class="load-flex-container" layout="column" ng-repeat="l in loads | orderBy: 'Id' track by $index">
            <md-card class="load" ng-class="l.SlotsLeft > 0 ? '' : l.SlotsLeft == 0 ? 'full' : 'overbooked'"
                ng-model="l.GroupList">
                <div layout="row" class="load-top">
                    <div flex="35" class="slots-left">
                        <span class="value">{{l.SlotsLeft}}</span>
                        <span class="label-small">slots</span>
                    </div>
                    <div flex="65" class="time-left" ng-class="l.Refuel ? 'refuel' : ''">
                        <div class="time">
                            <i class="fas fa-gas-pump btn-refuel"></i>
                            <span class="value">{{l.MinutesLeft}}</span>
                            <span class="label-small">min</span>
                        </div>
                    </div>
                </div>

                <md-card-title style="padding: 8px;">
                    <md-card-title-text>
                        <div class="md-headline">{{l.AircraftName}} <b style="font-size: 1.5em;">{{l.Number}}</b>
                            <b style="display: block;">{{l.Description}}</b></div>
                        <span class="md-subhead">{{l.AircraftType}} <b
                                style="display: inline-block;">{{l.AircraftRegistration}}</b></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content style="padding: 0">
                    <div class="slots">
                        <md-card class="slot-card"
                            ng-repeat="g in l.GroupList | orderBy: ['IdPersonalGroup','DateOnLoad'] track by $index"
                            ng-model="l.GroupList[$index]" ng-hide="!g.IdGroup"
                            ng-style="{'background-color': g.BackgroundColor}">
                            <md-card-content>
                                <div class="slot" ng-repeat="p in g.LoadList | orderBy: 'ProductSlotName'"
                                    ng-class="getGroupClass(p.IdPersonalGroup)">
                                    <div class="passenger">
                                        <div class="slot-name">
                                            {{p.ProductSlotName}}
                                        </div>
                                        <div class="name">
                                            {{p.Passenger}}
                                        </div>
                                    </div>
                                </div>
                            </md-card-content>
                        </md-card>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>   
</div>

<div ng-if="showPic" style="
width: 100vw;
height:100vh; 
background-color: #000;
background-image: url({{pic}});
background-repeat: no-repeat;
background-position: center;
background-size: contain;">
</div>

<div id="help" ng-click="toggleHelp()">
    <i id="help-btn" class="fas fa-question-circle" style="opacity: 1"></i>
    <div>
        <p>
            <b>Fullscreen</b></p>
        <ul>
            <li><b>F</b> ... toggle fullscreen</li>
        </ul>
        <p>
            <b>Resize</b></p>
        <ul>
            <li><b>4</b> ... fit 4 columns to screen</li>
            <li><b>5</b> ... fit 5 columns to screen</li>
            <li><b>6</b> ... fit 6 columns to screen</li>
            <li><b>+</b> ... larger</li>
            <li><b>-</b> ... smaller</li>
            <li><b>D</b> ... default, no resize</li>
        </ul>
        <p>
            <b>Help</b></p>
        <ul>
            <li><b>H</b> ... toggle this help window</li>
        </ul>
    </div>
</div>

<div ng-init="init()"></div>