<div class="page">
    <md-card style="padding:20px;margin-right:20px;">
        <md-toolbar class="md-table-toolbar md-default">
            <md-card-title-text style="padding-bottom: 15px;">
                <span class="md-title">Cash Book</span>
            </md-card-title-text>
            <md-divider></md-divider>
        </md-toolbar>

        <div layout="row">
            <div flex="70">

            </div>

            <div flex="30">
                <md-input-container class="md-icon-float md-block">
                    <md-icon class="name" style="margin-left: 15px;" ng-click="getPaymentsList"><i class="fas fa-search"></i></md-icon>
                    <label style="padding-left: 36px;z-index: 99;">Search</label>
                    <input ng-model="search" name="search"  ng-keypress="onKeyPressSearch($event)"/>
                </md-input-container>

            </div>
        </div>

        <!--[if IE]> <div style="margin-top:20px;"> <![endif]-->
        <md-table-container style="padding-top: 15px;">
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="getPaymentsList">
                    <tr md-row>
                        <th md-column></th>
                        <th md-column md-order-by="IdTransaction"><span>Id</span></th>
                        <th md-column md-order-by="Account"><span>Account</span></th>
                        <th md-column md-order-by="AccountDescription"><span>Account Description</span></th>
                        <th md-column md-order-by="Company"><span>Company</span></th>
                        <th md-column md-order-by="Customer"><span>Customer</span></th>
                        <th md-column md-order-by="Description"><span>Description</span></th>
                        <th md-column md-order-by="Date"><span>Date</span></th>
                        <th md-column md-numeric right md-order-by="Debit"><span>Debit</span></th>
                        <th md-column md-numeric right md-order-by="Credit"><span>Credit</span></th>
                    </tr>
                </thead>
                <tbody md-body>
                    <tr md-row md-select-id="lista"
                        ng-repeat="p in list" class="md-row" ng-click="setSelected(p.Id)" ng-class="{selected: p.Id === IdSelected}">
                        <td md-cell><md-checkbox class="blue" ng-model="p.selected" aria-label="Select"></md-checkbox></td>
                        <td md-cell>{{p.IdTransaction}}</td>
                        <td md-cell>{{p.Account}}</td>
                        <td md-cell>{{p.AccountDescription}}</td>
                        <td md-cell>{{p.Company}}</td>
                        <td md-cell>{{p.Customer}}</td>
                        <td md-cell>{{p.Description}}</td>
                        <td md-cell>{{p.Date | date:'dd.MM.yyyy HH:mm:ss'}}</td>
                        <td md-cell right>{{p.Debit | currency}}</td>
                        <td md-cell right>{{p.Credit | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </md-table-container>
        <!--[if IE]> </div> <![endif]-->
        <md-table-pagination md-page="query.page" md-limit="query.limit" md-limit-options="[5, 10, 15]" md-total="{{rows}}" md-on-paginate="getPaymentsList">
        </md-table-pagination>
    </md-card>
</div>

<div ng-init="init()"></div>
</div>